# CAD-COVID service configuration
PORT=5557
HOST=0.0.0.0

# Directory paths
UPLOAD_FOLDER=../backend/src/data/dicom/uploads
RESULTS_FOLDER=../backend/src/data/dicom/results

# Model configuration
CUDA_VISIBLE_DEVICES=""
PYTHONUNBUFFERED=1
